@import '../../../styles/index.scss';

.vip-price-vip {
  position: relative;
  font-size: 30px;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-flex;
  color: $price-color;
  border-radius: 30px;
  background: rgb(255, 235, 235);
  // line-height: 0;
  .vip {
    font-weight: lighter;
    background: $price-color;
    color: #fff;
    padding: 6px 20px 6px 10px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 20px;
      background: rgb(255, 235, 235);
      top: -10px;
      bottom: -10px;
      transform: rotateZ(30deg);
      right: -10px;
    }
  }
  .price {
    padding: 6px 10px 6px 0;
    position: relative;
    z-index: 1;
  }
}