@import '../../../styles/index.scss';

.sojourn-order-item {
  background: #fff;
  margin-top: 20px;
  .top-wrap {
    @include bottom-line();
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;
    .yellow {
      color: rgb(255, 156, 0);
    }
    .grey {
      color: $color-grey;
    }
  }
  .middle-wrap {
    .goods-group {
      display: flex;
      padding: 30px;
      &:not(:first-child) {
        @include top-line(30px);
      }
      .cover {
        flex-shrink: 0;
        margin-right: 30px;
        width: 180px;
        height: 180px;
        @include img();
      }
      .info-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        width: 100%;
        .info {
          .title {
            @include ellipsis-line();
          }
          .unit {
            font-size: 26px;
            color: $color-grey;
            margin-top: 10px;
          }
        }
        .price-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price {
            @include price-with-small-symbol(32px, $price-color, 5px, 15px);
          }
          .cancel {
            color: rgb(235, 76, 40);
          }
        }
        .qty {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 24px;
          color: $color-grey;
        }
      }
    }
    .qty-wrap {
      display: flex;
      justify-content: flex-end;
      font-size: 28px;
      padding: 20px 30px;
      .grey {
        color: $color-grey;
      }
      .order-price {
        margin-left: 30px;
        .price {
          @include price-with-small-symbol(28px, #000, 5px, 15px);
          margin-left: 10px;
        }
      }
    }
    .after-state {
      text-align: right;
      font-size: 28px;
      padding: 0 30px 20px 30px;
      color: rgb(235, 76, 40);
    }
  }
  .bottom-wrap {
    @include top-line(30px);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .butler-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .name {
        margin-left: 18px;
        font-size: 28px;
        color: rgb(102, 102, 102);
      }
    }
    .btn-wrap {
      display: flex;
      .b-item {
        width: 180px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 28px;
        margin-left: 20px;
        box-sizing: border-box;
        background: #fff;
        // color: #fff;
        border-radius: 4px;
        border: 1px solid rgb(94, 94, 94);
        color: rgb(94, 94, 94);
      }
      .border {
        border: 1px solid rgb(94, 94, 94);
        color: rgb(94, 94, 94);
        background: transparent;
      }
      .primary {
        background: $red-color;
        color: #fff;
        border: 0;
      }
    }
  }
}