// 页面背景颜色
$page-background-color: #f6f6f6;
// 图片背景颜色
$img-bg-color: #f4f4f4;
// 主色调
// $color-primary: rgb(230, 191, 122);
$color-primary: rgb(255, 156, 0);
$color-grey: #999;
$color-white: #fff;
$color-black: #222;
$color-border: #f2f2f2;
$color-blue: rgb(88, 153, 209);
// 字体默认大小
$font-size-primary: 28px;
$font-size-desc: 24px;

$base-spacing: 30px;
$bottom-wrap-height: 90px;

$price-color: rgb(255, 51, 51);
$price-vip-color: rgb(255, 156, 0);

$red-color: rgb(209, 13, 35);

$divider-line-color: #e8e8e8;

$dialog-zIndex:999;

$mall-primary-color: #fe4838;

// 主要用于字体
$title-font-size: 30px;
$page-font-size: 28px;
$desc-font-size: 24px;
$small-font-size: 22px;
$tag-font-size: 18px;
$grey-text: #999;
$primary-text: rgba(0, 0, 0, 0.87);
$cancel-text: #e53935;



$bottom-wrapper-zIndex:888;