@import '../../../styles/index.scss';

.address-item {
  background: #fff;
  margin-bottom: 20px;
  .top {
    display: flex;
    align-items: center;
    padding: 30px;
    @include bottom-line(30px);
    .iconfont {
      margin-right: 30px;
      flex-shrink: 0;
      font-size: 40px;
      color: $color-grey;
    }
    .title-wrap {
      .title {
        font-size: 30px;
        .default {
          color: #fff;
          background: rgb(235, 76, 40);
          font-size: 24px;
          border-radius: 4px;
          padding: 1px 4px;
          line-height: 1;
          margin-right: 10px;
        }
      }
      .address {
        font-size: 30px;
        color: $color-grey;
        margin-top: 10px;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    .b-item {
      box-sizing: border-box;
      border: 1px solid rgb(94, 94, 94);
      width: 120px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 28px;
      margin-left: 20px;
      color: rgb(94, 94, 94);
    }
  }
}