@import '../../../styles/index.scss';

.activity-item {
  background: #fff;
  display: flex;
  padding: 30px;
  
  .left {
    width: 280px;
    height: 220px;
    margin-right: 30px;
    flex-shrink: 0;
    @include img();
  }
  .right {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    .top{
      .title {
        @include ellipsis-line();
      }
      .time {
        font-size: 24px;
        color: $color-grey;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .tag-list {
        display: flex;
        flex-wrap: wrap;
        .tag {
          font-size: 24px;
          padding: 0px 16px;
          border-radius: 6px;
          text-align: center;
          margin-top: 20px;
          color: rgb(95, 164, 212);
          background: rgba(95, 164, 212, 0.1);
          margin-left: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      .sign {
        background: rgb(209, 13, 35);
        border-radius: 6px;
        color: #fff;
        padding: 5px 20px;
        height: 50px;
        line-height: 50px;
        font-size: 30px;
      }
    }
  }
}

.top-line {
  @include top-line();
}
