@import '../../../../styles/index.scss';

.page-express-bill {
  font-size: $page-font-size;
  .cell-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0 $base-spacing;
    height: 100px;
    background: #fff;
    .title {
      margin-right: $base-spacing;
    }
    .content {
      flex: 1;
    }
  }
  .action-item {
    margin-top: 20px;
    padding: 0 $base-spacing;
    background: #fff;
    .title {
      padding: $base-spacing 0;
      border-bottom: 1PX solid $divider-line-color;
    }
    .img-list {
      display: flex;
      padding: 30px 0;
      &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f9f9f9;
        color: #c3c3c3;
        width: 180px;
        height: 180px;
        border: 1PX dashed #c3c3c3;
        .img-item {
          width: 100%;
          height: 100%;
        }
        .icon-close {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(50%, -50%);
          color: #c3c3c3;
          font-size: 40px;
        }
        .icon-tupian1 {
          color: #999;
        }
        .desc {
          font-size: $desc-font-size;
        }
      }
      .img-list__item+.img-list__item {
        margin-left: 30px;
      }
    }
  }
  .btn-wrapper {
    margin-top: 60px;
    padding: 0 $base-spacing;
  }
}
